/* Base Component Container */
.container {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: black;
}

/* Base card */
.card {
	width: 40%;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding: 25px;
	border-radius: 12px;
	background-color: lightgray;
}

/* Common flex tile */
.flex-tile {
	display: flex;
	align-items: center;
	padding: 2px 0;
}

.password {
	font-weight: bold;
	font-size: 20px;
}

/* For char length box */
.length-box {
	display: flex;
	flex-direction: column;
}

.length-title {
	font-size: 25px;
	font-weight: bold;
}

.copy-button {
	width: fit-content;
	margin-left: auto;
	margin-right: 10px;
	padding: 12px;
	background-color: bisque;
	border-radius: 12px;
	display: inline;
	font-weight: bold;
}

/* option-grid */
.option-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: 80%;
	margin: 15px auto;
	gap: 5;
}

/* Strength Box */
.strength {
	display: flex;
	align-items: center;
	font-weight: bold;
}

.left-value {
	margin-left: auto;
}

/* Button to generate */
.generate-button {
	width: 100%;
	padding: 20px;
	color: white;
	background-color: blueviolet;
	font-weight: bold;
	border-radius: 12px;
}
